<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HR-Recrutement intra-site</title>
    <link rel="shortcut icon" href="~/Tis.png">


    <link rel="stylesheet" type="text/css" href="~/FrontFinal/theme/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/FrontFinal/theme/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/FrontFinal/theme/src/plugins/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/FrontFinal/theme/src/plugins/datatables/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/FrontFinal/theme/vendors/styles/style.css">

    <link rel="stylesheet" type="text/css" href="~/FrontFinal/theme/src/plugins/jquery-steps/jquery.steps.css">


</head>

<body class="header-white sidebar-light">

    <div class="header">
        <div class="header-left">
            <div class="menu-icon dw dw-menu"></div>
            <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
            <div class="header-search">
                <form action="#0">
                    <div class="form-group mb-0" style="border-radius:30px">
                        <i class="dw dw-search2 search-icon"></i>
                        <input type="text" class="form-control search-input" placeholder="Search Here">
                        <div class="dropdown">
                            <a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
                                <i class="ion-arrow-down-c"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="form-group row">
                                    <label class="col-sm-12 col-form-label">Send professional Email</label>

                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-12 col-md-2 col-form-label">To</label>
                                    <div class="col-sm-12 col-md-10">
                                        <input class="form-control form-control-sm form-control-line" type="text" id="receiver_email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-12 col-md-2 col-form-label"> Content</label>
                                    <div class="col-sm-12 col-md-10">
                                        <input class="form-control form-control-sm form-control-line" id="email_content" type="text">
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-primary" onclick="sendEmail()">Send Email</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="header-right">


            <div class="dashboard-setting user-notification">
                <div class="dropdown">
                    <a class="dropdown-toggle no-arrow" href="@Url.Action("Chat", "RH")" data-toggle="right-sidebar">
                        <i class="icon-copy dw dw-chat-4"></i>
                        <span class="badge notification-active"></span>
                    </a>
                </div>
            </div>




            
            <div class="user-info-dropdown">
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        <span class="user-icon">
                            <img src="~/FrontFinal/theme/vendors/images/amal.jpg" alt="">
                        </span>
                        <span class="user-name">RH-user</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                        <a class="dropdown-item" href="@Url.Action("MonCompte", "RH")"><i class="dw dw-user1"></i> Profile</a>
                        <a class="dropdown-item"><i class="dw dw-settings2"></i> Setting</a>
                        <a class="dropdown-item" href="@Url.Action("Deconnexion", "RH")"><i class="dw dw-logout"></i> Log Out</a>
                    </div>
                </div>
            </div>
            @*<div class="github-link">
                    <a href="https://github.com/dropways/deskapp" target="_blank"><img src="vendors/images/github.svg" alt=""></a>
                </div>*@
        </div>
    </div>



    <div class="left-side-bar">
        <div class="brand-logo" style="margin-bottom: 90px; border: none; ">
            <span href="@Url.Action("Dashboard", "RH")">
                <img src="vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
                <img src="~/Tis.png" style="width: 80%; position: relative; top: 26px; margin-left: 6%; ">
            </span>
            <div class="close-sidebar" data-toggle="left-sidebar-close">
                <i class="ion-close-round"></i>
            </div>
        </div>
        <div class="menu-block customscroll">
            <div class="sidebar-menu">
                <ul id="accordion-menu">

                    <li>
                        <a href="@Url.Action("Dashboard", "RH")" class="dropdown-toggle no-arrow" style="background: transparent; color: black; font-size: 16px; font-weight: 700;">
                            <span class="micon dw dw-house-1" style="background: transparent; color: #e35865; border-radius: 20px; font-size: 19px; "></span><span class="mtext">Dashboard</span>
                        </a>
                    </li>


                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" style="background: transparent; color: black; font-size: 16px; font-weight: 700; ">
                            <span class="micon dw dw-deal" style="background: transparent; color: #e35865; border-radius: 20px; font-size: 19px; "></span><span class="mtext">Recrutement</span>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="@Url.Action("NouvelleDemandeRecrutement", "RH")" style="background: transparent; color: #af1515;">
                                    <span class="iconify" data-icon="fluent:task-list-square-add-24-filled" style="color: #6c757d;" data-width="20" data-height="20"></span>
                                    Nouvelle demande
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("HistoriqueDemandeRecrutement", "RH")" style="background: transparent; color: #af1515;">
                                    <span class="iconify" data-icon="majesticons:paper-fold-text" style="color: #6c757d; " data-width="20" data-height="20"></span>
                                    Mes demandes
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListeDesDemandesDeRecrutement", "RH")" style="background: transparent; color: #af1515;">
                                    <span class="iconify" data-icon="fluent:document-bullet-list-multiple-24-filled" style="color: #6c757d;" data-width="20" data-height="20"></span>
                                    Liste des demandes
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" style="background: transparent; color: black; font-size: 16px; font-weight: 700;">
                            <span class="micon dw dw-conference" style="background: transparent; color: #e35865; border-radius: 20px; font-size: 19px; "></span><span class="mtext">Formation</span>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="@Url.Action("NouvelleDemandeFormation", "RH")" style="background: transparent; color: #af1515;">
                                    <span class="iconify" data-icon="fluent:task-list-square-add-24-filled" style="color: #6c757d;" data-width="20" data-height="20"></span>
                                    Nouvelle demande
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("HistoriqueDemandeFormation", "RH")" style="background: transparent; color: #af1515;">
                                    <span class="iconify" data-icon="majesticons:paper-fold-text" style="color: #6c757d; " data-width="20" data-height="20"></span>
                                    Mes demandes
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ListeDesDemandesDeFormation", "RH")" style="background: transparent; color: #af1515;">
                                    <span class="iconify" data-icon="fluent:document-bullet-list-multiple-24-filled" style="color: #6c757d;" data-width="20" data-height="20"></span>
                                    Liste des demandes
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="@Url.Action("Deconnexion", "RH")" class="dropdown-toggle no-arrow" style="background: transparent; color: black; font-size: 16px; font-weight: 700; ">
                            <span class="micon  dw dw-logout-2" style="background: transparent; color: #e35865; border-radius: 20px; font-size: 19px; "></span><span class="mtext">Déconnexion</span>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
    </div>
    <div class="mobile-menu-overlay"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="main-container">
        <!-- Content Header (Page header) -->


        @RenderBody()



    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer" style="display:none">
        <center>
            <strong>
                Copyright &copy;  @DateTime.Now.ToString("yyyy") <a href="https://www.allcircuits.com/" target="_blank" style="color: #62d248;">Tis Circuit</a>
            </strong>
        </center>
        <div class="float-right d-none d-sm-inline-block">

        </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="~/FrontFinal/theme/vendors/scripts/core.js"></script>
    <script src="~/FrontFinal/theme/vendors/scripts/script.min.js"></script>
    <script src="~/FrontFinal/theme/vendors/scripts/process.js"></script>
    <script src="~/FrontFinal/theme/vendors/scripts/layout-settings.js"></script>
    <script src="~/FrontFinal/theme/src/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="~/FrontFinal/theme/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/FrontFinal/theme/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/FrontFinal/theme/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="~/FrontFinal/theme/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <!-- buttons for Export datatable -->
    <script src="~/FrontFinal/theme/src/plugins/datatables/js/dataTables.buttons.min.js"></script>
    <script src="~/FrontFinal/theme/src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="~/FrontFinal/theme/src/plugins/datatables/js/buttons.print.min.js"></script>
    <script src="~/FrontFinal/theme/src/plugins/datatables/js/buttons.html5.min.js"></script>
    <script src="~/FrontFinal/theme/src/plugins/datatables/js/buttons.flash.min.js"></script>
    <script src="~/FrontFinal/theme/src/plugins/datatables/js/pdfmake.min.js"></script>
    <script src="~/FrontFinal/theme/src/plugins/datatables/js/vfs_fonts.js"></script>
    <!-- Datatable Setting js -->
    <script src="~/FrontFinal/theme/vendors/scripts/datatable-setting.js"></script>
</body>
<script src="~/FrontFinal/theme/vendors/scripts/dashboard3.js"></script>
<script src="~/FrontFinal/theme/vendors/scripts/dashboard.js"></script>

<script src="~/FrontFinal/theme/src/plugins/jquery-steps/jquery.steps.js"></script>
<script src="~/FrontFinal/theme/vendors/scripts/steps-setting.js"></script>

<script>

        $("#deconnexionChef").click(function () {

              $.ajax({
            dataType: "json",
            type: "GET",
            url: "@Url.Action("Deconnexion", "RH")",
            success: function (data) {
                console.log("data", data);
                window.location="~/shared/login";


            }
        });
        })

        $("#Fonction_Demande").change(function () {

            var Fonction_Demande = $("#Fonction_Demande").val();
            if (Fonction_Demande == "Remplacement") {
                $("#nomCollaborateur").show();
            } else {

                $("#nomCollaborateur").hide();
            }



        });

    function sendEmail() {




        var receiver = $("#receiver_email").val();
        var content = $("#email_content").val();

        console.log(receiver, content);

        // ajax request send message
        $.ajax({
            type: 'POST',
            dataType: 'JSON',
            url: '/RH/sendProEmail',
            data: { receiver: receiver, content: content },
            success: function (response) {

                console.log(response);


            }
        });

    }


</script>


</body>
</html>



