@model List<HR_Rerutement.Models.Formation>
@{
    ViewBag.Title = "ListeDesDemandesDeFormation";
    Layout = "~/Views/Shared/_LayoutRH.cshtml";
}

<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>Formation</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Liste des demandes
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            January 2018
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Export List</a>
                            <a class="dropdown-item" href="#">Policies</a>
                            <a class="dropdown-item" href="#">View Assets</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- basic table  Start -->
        <div class="pd-20 card-box mb-30">
            <div class="clearfix mb-20">
                <div class="pull-left">
                    <h4 class="text-black h4">Liste des demandes de Formation</h4>
                </div>
                <div class="pull-right">
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            Exporter
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Excel</a>
                            <a class="dropdown-item" href="#">PDF</a>
                            <a class="dropdown-item" href="#">CSV</a>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">DEMANDEUR</th>
                        <th scope="col">SERVICE OU DIRECTION</th>
                        <th scope="col">DATE SOUHAITE</th>

                        <th scope="col">PRIORITE</th>
                        <th scope="col">STATUT</th>
                        <th scope="col" class="text-center">ACTIONS</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var formation in Model)
                    {

                    <tr>
                        <td scope="col">@formation.Matricule_Createur</td>
                        <td>@formation.Service</td>
                        <td>@formation.DateFormation.ToString("dd'/'MM'/'yyyy")</td>
                        <td>

                            @if (@formation.Priorite.Equals("Normal"))
                            {

                                <div>@formation.Priorite</div>
                                <div class="progress-bar bg-primary progress-bar-striped" style="height: 4px; width: 60%;" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                    <span class="sr-only">Normal</span>
                                </div>

                            }
                            @if (@formation.Priorite.Equals("Critique"))
                            {

                                <div>@formation.Priorite</div>
                                <div class="progress mt-2 mb-1" style="height: 4px; width: 60%;">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                            }

                            @if (@formation.Priorite.Equals("Urgent"))
                            {

                                <div>@formation.Priorite</div>
                                <div class="progress mt-2 mb-1" style="height: 4px; width: 60%;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                            }








                        </td>
                        <td>
                            @if (@formation.Statut == HR_Rerutement.Models.Statut.EnAttente)
                            {
                                @*<span class="label label-warning">En Attente</span>*@
                                <button type="button" class="btn btn-block btn-warning btn-sm" style="border-radius: 107.25rem !important;width: 73%;">En Attente</button>


                            }
                            @if (@formation.Statut == HR_Rerutement.Models.Statut.Acceptè)
                            {
                                <button type="button" class="btn btn-block btn-success btn-xs" style="border-radius: 107.25rem !important; width: 73%;">Accepté</button>
                                //<span class="label label-success">Accepté</span>
                            }
                            @if (@formation.Statut == HR_Rerutement.Models.Statut.Refusé)
                            {@*<span class="label label-danger">Refusé</span>*@
                            <button type="button" class="btn btn-block btn-danger btn-sm" style="border-radius: 107.25rem !important; width: 73%;">Refusé</button>
                        }

                        </td>
                       
                        <td class="text-center">
                            <div class="dropdown">
                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href='@Url.Action("ConsulterDemandesFormation","RH", new { id=formation.Id_demande})'>
                                    <i class="dw dw-eye"></i>
                                </a>
                            </div>
                        </td>


                    </tr>

                    }

                </tbody>
            </table>

        </div>
        <!-- basic table  End -->


    </div>

</div>

